/*Box Menu Starts Here*/
.SMParent {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
    background-color: #E8E8E8;
	border-top:2px solid #FFFFFF;
    font:9pt verdana;
    color:#232323;
    text-align:left;
    height:21px;
}

.SMParentOver {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
    background-color: #E8E8E8;
	border-top:2px solid #FFFFFF;
    font:9pt verdana;
    color:#232323;
    text-align:left;
	cursor:pointer; 
    height:21px;
}

.SMParentSelected {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
    background-color: #E8E8E8;
	border-top:2px solid #FFFFFF;
    font:9pt verdana;
    color:#232323;
    text-align:left;
    height:21px;
    overflow:hidden;
}

.SMChild {
	font:8pt verdana; 
	color:#232323;
    padding-left: 32px;
	text-align:left;
}
.SMChild a {
	color:#232323;
	font:8pt verdana;
	text-decoration:none;
}

.SMChildOver {
	font:8pt verdana; 
	color:#232323;
	text-decoration:underline;
    padding-left: 32px;
	cursor:pointer;
	text-align:left;
}
.SMChildOver a {
	color:#232323;
	font:8pt verdana;
	text-decoration:underline;
}

.SMChildSelected {
	font:bold 8pt verdana; 
	color:#232323;
    padding-left: 32px;
	text-align:left;
}
.SMChildSelected a {
	color:#232323;
	font:bold 8pt verdana;
	text-decoration:none;
}

.SMChildrenBox {
}

.SMMenu {
	background-color:white;
	width: 200px;	
}

.SMImageParent {
	border:0px;
	vertical-align:middle;
	margin-right:5px;
}

.SMImageChild {
	display:none;
}
/*Box Menu Ends Here*/


/*Graphite Calendar Starts Here*/
.calendarCalendar {
	border:1px solid #999999;
	background-image:url('cal_bg.gif');
	background-repeat:repeat-x;
	text-align:left;
}
.calendarTitle {
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
	padding-top:2px;
}
.calendarArrowLeft {
	width:30px;
	height:14px;
	background-image:url('arr_left.gif');
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer; cursor:hand;
}
.calendarArrowRight{
	width:30px;
	height:14px;
	background-image:url('arr_right.gif');
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer; cursor:hand;
}
.calendarMonth {
	background-image:url('month_bg.gif');
	border:1px solid #333333;
}
.calendarMonthTitle {
	font:bold 11px Tahoma;
	text-align:center;
	padding:4px;
	color:#FAFAFA;
}
.calendarDayName {
	font:bold 11px Tahoma;
	color:#CACACA;
	text-align:center;
}
.calendarDay {
	font:11px Tahoma;
	color:#FFFFFF;
	padding:1px;
	text-align:center;
	cursor:pointer; cursor:hand;
}
.calendarDayOver {
	font:11px Tahoma;
	color:#484848;
	padding:1px;
	text-align:center;
	cursor:pointer; cursor:hand;
	background-color:#ffffff;
}
.calendarDayToday {
	font:bold 11px Tahoma;
	color:#333333;
	text-align:center;
	background-color:#CECECE;
	border:1px solid #333333;
	cursor:pointer; cursor:hand;
}
.calendarDayDisabled {
	font:11px Tahoma;
	color:#8E8E8E;
	text-align:center;
	padding:1px;
}
.calendarDaySelected {
	font:bold 11px Tahoma;
	color:#FFFFFF;
	text-align:center;
	background-color:#C4000E;
}
.calendarDaySpecial {
	font:bold 11px Tahoma;
	color:#C4000E;
	text-align:center;
	padding:1px;
}

.calendarDatePickerButton {
	cursor:pointer; cursor:hand;
	vertical-align:bottom;
}
.blah {
	font:bold 11px Tahoma;
	color:white;
	background-color:navy;
}
.specialDateJuly4 {
	font-size:1px;
	color:#F6F6F6;
	text-align:right;
	vertical-align:bottom;
	padding:1px;
	border:0px solid black;
	background-image:url('../flag_usa.gif');
	background-position:bottom center;
	background-repeat:no-repeat;
}

/******************/
/* year selector */
.calendarYearSelectorTitle 
{
	cursor:pointer;
	display:inline;
	padding-left:5px;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
.calendarYearSelectorContainer
{
	border:1px solid #FAFAFA;
	padding-left:5px;
	padding-right:5px;
	display:none;
	background-image:url('cal_bg.gif');
	background-repeat:repeat-x;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
.calendarYearSelectorArrowUp
{
	cursor:pointer;
	background:url('arrowUp.gif');
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
}
.calendarYearSelectorArrowDown
{
	cursor:pointer;
	background:url('arrowDown.gif');
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
}
.calendarYearSelected
{
	cursor:pointer;
	font:bold 11px Tahoma;
	text-align:center;
	background-color:#FAFAFA;
	color:#999999;
}
.calendarYearSelector
{
	cursor:pointer;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
/* year selector */
/******************/

/******************/
/* month selector */
.calendarMonthSelectorTitle 
{
	cursor:pointer;
	display:inline;
	padding-left:5px;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
.calendarMonthSelectorContainer
{
	border:1px solid #FAFAFA;
	padding-left:5px;
	padding-right:5px;
	display:none;
	background-image:url('cal_bg.gif');
	background-repeat:repeat-x;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
.calendarMonthSelectorArrowUp
{
	cursor:pointer;
	background:url('arrowUp.gif');
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
}
.calendarMonthSelectorArrowDown
{
	cursor:pointer;
	background:url('arrowDown.gif');
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
}
.calendarMonthSelected
{
	cursor:pointer;
	font:bold 11px Tahoma;
	text-align:center;
	background-color:#FAFAFA;
	color:#999999;
}
.calendarMonthSelector
{
	cursor:pointer;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
/* month selector */
/******************/

/******************/
/* hour selector */
.calendarHourSelectorTitle 
{
	cursor:pointer;
	display:inline;
	padding-left:5px;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
.calendarHourSelectorContainer
{
	border:1px solid #FAFAFA;
	padding-left:5px;
	padding-right:5px;
	display:none;
	background-image:url('cal_bg.gif');
	background-repeat:repeat-x;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
.calendarHourSelectorArrowUp
{
	cursor:pointer;
	background:url('arrowUp.gif');
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
}
.calendarHourSelectorArrowDown
{
	cursor:pointer;
	background:url('arrowDown.gif');
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
}
.calendarHourSelected
{
	cursor:pointer;
	font:bold 11px Tahoma;
	text-align:center;
	background-color:#FAFAFA;
	color:#999999;
}
.calendarHourSelector
{
	cursor:pointer;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
/* hour selector */
/******************/

/******************/
/* minute selector */
.calendarMinuteSelectorTitle 
{
	cursor:pointer;
	display:inline;
	padding-left:5px;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
.calendarMinuteSelectorContainer
{
	border:1px solid #FAFAFA;
	padding-left:5px;
	padding-right:5px;
	display:none;
	background-image:url('cal_bg.gif');
	background-repeat:repeat-x;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
.calendarMinuteSelectorArrowUp
{
	cursor:pointer;
	background:url('arrowUp.gif');
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
}
.calendarMinuteSelectorArrowDown
{
	cursor:pointer;
	background:url('arrowDown.gif');
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
}
.calendarMinuteSelected
{
	cursor:pointer;
	font:bold 11px Tahoma;
	text-align:center;
	background-color:#FAFAFA;
	color:#999999;
}
.calendarMinuteSelector
{
	cursor:pointer;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
/* minute selector */
/******************/

/******************/
/* second selector */
.calendarSecondSelectorTitle 
{
	cursor:pointer;
	display:inline;
	padding-left:5px;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
.calendarSecondSelectorContainer
{
	border:1px solid #FAFAFA;
	padding-left:5px;
	padding-right:5px;
	display:none;
	background-image:url('cal_bg.gif');
	background-repeat:repeat-x;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
.calendarSecondSelectorArrowUp
{
	cursor:pointer;
	background:url('arrowUp.gif');
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
}
.calendarSecondSelectorArrowDown
{
	cursor:pointer;
	background:url('arrowDown.gif');
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
}
.calendarSecondSelected
{
	cursor:pointer;
	font:bold 11px Tahoma;
	text-align:center;
	background-color:#FAFAFA;
	color:#999999;
}
.calendarSecondSelector
{
	cursor:pointer;
	font:bold 11px Tahoma;
	color:#FAFAFA;
	text-align:center;
}
/* second selector */
/******************/

.calendarSelectTime
{
	cursor:pointer;
	font:bold 11px Tahoma;
	color:#ffffff;
	padding:5px;
	text-decoration:none;
	text-align:center;
}
.calendarSelectTime:hover
{
	cursor:pointer;
	font:bold 11px Tahoma;
	color:#ffffff;
	padding:5px;
	text-decoration:none;
	text-align:center;
}
/*Graphite Calendar Ends Here*/


/*Complaints Grid Starts Here Style*/
	.ob_gMCont /*.ob_gridMainContainer*/
	{
		border: 1px solid #E4E5EA;
		overflow: hidden;
	}
	.ob_gDGMCont /*.ob_gridDetailGridMainContainer*/
	{
		border: 1px solid #E4E5EA;
		overflow: hidden;
	}
	.ob_gMContC	
	{		
	}
		
		
	/* Styles for the Header */
	.ob_gHCont /*.ob_gridHeaderContainer*/
	{
		overflow: hidden;
		background-image: url(header_placeholder.gif);
	}
	.ob_gH /*.ob_gridHeader*/
	{					
		background-image: url(header.gif);
		height: 27px;
		padding: 0px;
	}	
	.ob_gH td /*.ob_gridHeader td*/
	{				
		/*border-left: 1px solid #555555;*/
		border-bottom: 0px;				
		padding-top: 1px;
		height: 27px;
	}	
	.ob_gH td table td /*.ob_gridHeader td table td*/
	{											
		border-right: 0px;
		border-bottom: 0px;
		border-left: 0px;
		border-top: 0px;
	}				
	.ob_gCH /*.ob_gridColumnHeader*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;		
		color: #555555;
		text-align: left;				
		border:0px;		
		cursor: pointer;	
		padding-left: 0px;
	}
	.ob_gHA /*.ob_gridHeaderArrow*/
	{		
		border:0px;		
		cursor: pointer;
		text-align: right;
		width: 100%;
		vertical-align: middle;				
	}	
	.ob_gHA img /*.ob_gridHeaderArrow img*/
	{
		margin-right: 8px;
		width: 7px;
		height: 4px;		
	}	
	.ob_gRB /*.ob_gridResizeButton*/
	{
		font-size: 3px;		
		width: 3px;			
		padding:0px;
		border: 0px;
		margin-left: 0px;
		margin-right: 0px;		
	}
	.ob_gRT /*.ob_gridResizeTooltip*/
	{
		cursor: default;		
		margin: 0px;
		padding: 1px;
		border: 1px solid #000000;
		font-family: Verdana;
		font-size: 10px;
		color: #000000;	
		height: 12px;
		margin-top: 30px;		
		vertical-align: middle;
		background-color: #F5F5DC;
	}
	.ob_gRT span /*.ob_gridResizeTooltip span*/
	{
		padding-left: 3px;
	}
	.ob_gBH /*.ob_gridBodyHeader*/
	{	
		display: none;
		height: 0px;		
		font-size: 1px;
	}
	.ob_gBH td /*.ob_gridBodyHeader td*/
	{		
		height: 0px;		
		font-size: 1px;
	}
	.ob_gBH div /*.ob_gridBodyHeader div*/
	{
		height: 0px;		
		font-size: 1px;
	}
	.ob_gDSC /*.ob_gridDummyScrollingColumn*/
	{
		background-image: url(header_placeholder.gif);
	}
	.ob_gDSC div
	{
		font-size: 1px;
		width: 0px;
	}
	.ob_gGA /*.ob_gridGroupingArea*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;		
		color: #666666;
		text-align: left;				
		border:0px solid #FFFFFF;
		padding-left: 20px;
		background-image: url(header.gif);		
		height: 26px;
	}
	.ob_gGADC /*.ob_gridGroupingAreaDefaultColumn*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;		
		color: #666666;
		text-align: left;				
		border:0px solid #FFFFFF;		
	}
	.ob_gGDC /*.ob_gridGroupDraggingColumn*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;		
		color: #666666;
		text-align: left;				
		border: 1px solid #555555;
		padding-left: 20px;
		background-image: url(footer.gif);		
		vertical-align: middle;
		height: 24px;		
	}
	.ob_gGAC /*.ob_gridGroupingAreaColumn*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;		
		color: #FFFFFF;
		text-align: center;				
		border: 1px solid #444444;		
		background-image: none;
		vertical-align: middle;
		background-color: #999999;
		height: 12px;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 10px;
		padding-right: 10px;
		float:left;
		cursor: move;
	}
	.ob_gGACS /*.ob_gridGroupingAreaColumnSpacer*/
	{
		width: 15px;
		height: 1px;
		border-top: 1px solid #444444;
		font-size: 1px;		
	}
	.ob_gGATA /*.ob_gridGroupingAreaTopArrow*/
	{
		background-image: url(group_arrow_top.gif);
		width: 9px;
		height: 9px;
		font-size: 1px;
		padding: 0px;
	}
	.ob_gGABA /*.ob_gridGroupingAreaBottomArrow*/
	{
		background-image: url(group_arrow_bottom.gif);
		width: 9px;
		height: 9px;
		font-size: 1px;
		padding: 0px;
	}
	.ob_gHCHWG /*ob_gridHeaderColumnHighlightedWhenGrouping*/
	{
		background-image: none;
		background-color: #333333;
		color: #FFFFFF;
	}
	.ob_gHCHWG table td
	{
		color: #FFFFFF;
	}
	.ob_gGACHWD /*ob_gridGroupingAreaColumnHighlightedWhenDragging*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;		
		color: #FFFFFF;
		text-align: center;				
		border: 1px solid #FFFFFF;		
		background-image: none;
		vertical-align: middle;
		background-color: #333333;
		height: 12px;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 10px;
		padding-right: 10px;
		float:left;
		cursor: move;
	}
	
	
	
	
	
	/* Styles for the Body */
	.ob_gBCont
	{
		overflow: auto;
		overflow-x: hidden;
	}
	.ob_gBody
	{
		empty-cells: show;
		overflow: hidden;
	}	
	.ob_gRGH /*.ob_gridRecordGroupHeader*/
	{
		background-image: url(record_group_header.gif);
		height: 24px;
	}
	.ob_gRGHC /*.ob_gridRecordGroupHeaderCell*/
	{					
		cursor: default;
		margin: 0px;
		padding-right: 0px;		
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-left: 0px solid #7BB8D9;
		border-top: 0px solid #7BB8D9;
		border-bottom: 0px solid #4783A7;
		border-right: 0px solid #7BB8D9;
		font-family: Verdana;
		font-size: 10px;
		color: #666666;	
		height: 24px;	
		vertical-align: middle;
		font-weight: bold;
		cursor: pointer;
	}
	.ob_gRGHB /*.ob_gridRecordGroupButton*/
	{	
		padding-left: 3px;
		padding-right: 3px;	
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
	}	
	.ob_gRGHB img /*.ob_gridRecordGroupButton img*/
	{
		cursor: pointer;
		vertical-align: middle;
	}
	.ob_gRGBS /*.ob_gridRecordGroupButtonSpacer*/
	{
		width: 17px;
		font: 1px;
		float: left;
	}
	.ob_gRGF /*.ob_gridRecordGroupFooter*/
	{
		background-color: #DCDFE2;
	}
	.ob_gR /*.ob_gridRecord*/
	{
		background-color: #FFFFFF;
	}
	.ob_gRA /*.ob_gridRecordAlternate*/
	{
		background-color: #F6F6F6;
	}		
	.ob_gRS /*.ob_gridRecordSelected*/
	{
		background-color: #DCDFE2;		
	}
	.ob_gRH /*.ob_gridRecordHover*/
	{
		background-color: #D0D6DA;		
	}
	.ob_gCP /*.ob_gridCellPadding*/
	{
		width:19px;
		float:left;
		font-size:1px;
	}
	.ob_gC /*.ob_gridCell*/
	{
		cursor: default;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-right: 0px;
		border-top: 0px;		
		font-family: Verdana;
		font-size: 10px;
		color: #555555;	
		height: 24px;	
		vertical-align: middle;		
	}
	.ob_gC2 /*.ob_gridCell2*/
	{
		cursor: default;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-right: 0px;
		border-top: 0px;		
		font-family: Verdana;
		font-size: 10px;
		color: #555555;	
		height: 24px;	
		vertical-align: middle;		
	}
	.ob_gIE /*.ob_gridInvisibleElement*/
	{
		display: none;
	}
	.ob_gRC /*.ob_gridResizableContent*/
	{
		overflow: hidden;		
		white-space: nowrap;
		padding-left: 19px;
	}
	.ob_gRCW /*.ob_gridResizableContentWithWrap*/
	{
		overflow: hidden;		
		white-space: normal;
		padding-left: 19px;
	}
	.ob_gRCFFC /*.ob_gridResizableContentForFirstColumn*/
	{
		overflow: hidden;
		white-space: nowrap;
		padding-left: 0px;
	}
	.ob_gRCP /*.ob_gridResizableContentPadding*/
	{
		overflow: hidden;		
		white-space: nowrap;
		padding-left: 20px;
	}
	.ob_gSA /*.ob_gridSelectionArea*/
	{
		background-color: #DCDFE2;
		border: 1px solid #DCDFE2;
		font-size: 1px;
		z-index: 0;
	}
	a.ob_gAL /*a.ob_gridActionLink*/
	{
		font-family: Verdana;
		font-size: 10px;
		color: #555555;
		font-weight: bold;
		text-decoration:none;
	}
	a.ob_gAL:hover /*a.ob_gridActionLink:hover*/
	{
		font-family: Verdana;
		font-size: 10px;
		color: #555555;
		font-weight: bold;				
		text-decoration:underline;		
	}
	.ob_gA_FS /*.ob_gridAdd_FilterSpacer*/
	{
		width: 30px;
		text-align: center;
	}		
	.ob_gL /*.ob_gridLoading*/
	{		
		padding: 3px; 		
		font-family: Verdana;
		font-size: 10px;
		color:#555555;
		border: 0px;
		background-color: #F6F6F6;
	}	
	.ob_gNRM /*.ob_gridNoRecordsMessage*/
	{
		padding: 3px; 		
		font-family: Verdana;
		font-size: 10px;
		color:#555555;
		border: 0px;
		background-color: #F6F6F6;		
	}	
	.ob_gEC /*.ob_gridEditControl*/
	{
		padding: 0px;
		font-family: Verdana;
		font-size: 10px;
		color: #555555;			
		background-color: #FFFFFF;
		width: 96%;
		border: 1px solid #555555;
	}	
	.ob_gRL /*.ob_gridResizeLines*/
	{
		background-color: #555555;
		width: 1px;
	}	
	.ob_gD /*.ob_gridData*/
	{
		display: none;
	}
	.ob_gRETpl /*.ob_gridRowEditTemplate*/
	{
		font-family: Verdana;
		font-size: 10px;
		color: #555555;
		padding: 15px;
		border-top: 1px solid #7BB8D9;
	}
	.ob_gCTA /*.ob_gridCellTemporaryAdded*/
	{
		cursor: default;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-right: 0px;
		border-top: 0px;		
		font-family: Verdana;
		font-size: 10px;			
		height: 24px;	
		vertical-align: middle;
		
		color: #0000FF;
	}
	.ob_gCTE /*.ob_gridCellTemporaryEdited*/
	{
		cursor: default;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-right: 0px;
		border-top: 0px;		
		font-family: Verdana;
		font-size: 10px;			
		height: 24px;	
		vertical-align: middle;	
		
		color: #0000FF;		
	}
	.ob_gCTD /*.ob_gridCellTemporaryDeleted*/
	{
		cursor: default;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-right: 0px;
		border-top: 0px;		
		font-family: Verdana;
		font-size: 10px;			
		height: 24px;	
		vertical-align: middle;
		
		color: #FF0000;			
		text-decoration: line-through;
	}
	.ob_gDGC /*.ob_gridDetailsGridContainer*/
	{
		background-color: #D2D6DB;
	}	
	.ob_gDGLS /*.ob_gridDetailsGridLeftSpacer*/
	{		
		width: 0px;
	}	
	.ob_gDGLS div /*.ob_gridDetailsGridLeftSpacer div*/
	{		
	}
	.ob_gDGECC /*.ob_gridDetailsGridExpanderContainingCell*/
	{
		cursor: default;
		margin: 0px;
		padding-right: 0px;		
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-right: 0px;
		border-top: 0px;
		font-family: Verdana;
		font-size: 10px;
		color: #FFFFFF;	
		height: 24px;	
		vertical-align: middle;
	}
	.ob_gDGEC /*.ob_gridDetailsGridExpanderContainer*/
	{
		width: 15px;
		cursor: pointer;
	}
	.ob_gDGCCT
	{
		border: 0px solid #FFFFFF;
		margin-left: 20px;
	}
	
	
	
	
	
	/* Styles for the Footer */
	.ob_gF /*.ob_gridFooter*/
	{
	}
	.ob_gFContent /*.ob_gridFooterContent*/
	{
		background-image: url(footer.gif);
		margin-top: 2px;
		height: 25px;
		padding-left: 20px;
	}	
	.ob_gF td /*.ob_gridFooter td*/
	{
		cursor: default;				
		border: 0px;
		font-family: Verdana;
		font-size: 10px;
		color: #555555;				
		border-top: 1px solid #FFFFFF;		
	}
	.ob_gFSR /*.ob_gridFooterScrollerRow*/
	{
		height: 20px;
	}
	.ob_gFSR td
	{
		height: 20px;
		padding: 0px;
	}
	.ob_gFSR td div
	{
		height: 20px;
	}
	.ob_gCFR /*.ob_gridColumnsFooterRow*/
	{
		background-color: #DCDFE2;
	}
	.ob_gBF /*.ob_gridBodyFooter*/
	{			
		display: none;
		height: 0px;		
		font-size: 1px;
	}
	.ob_gBF td /*.ob_gridBodyFooter td*/
	{		
		height: 0px;		
		font-size: 1px;
	}	
	.ob_gBF div /*.ob_gridBodyFooter div*/
	{
		height: 0px;		
		font-size: 1px;
	}
	.ob_gF td table td /*.ob_gridFooter td table td*/
	{
		border-top: 0px;		
		vertical-align: middle;		
	}
	.ob_gPST /*.ob_gridPageSizeText*/
	{
		/*width: 185px;
		text-align: right;	*/
	}
	.ob_gPSS /*.ob_gridPageSizeSelector*/
	{
		cursor: default;			
		font-family: Verdana;
		font-size: 10px;
		color:#323232;
		background-color: #F5F5F5;
		margin-left: 7px;
	}			
	a.ob_gALF /*a.ob_gridActionLinkFooter*/
	{
		font-family: Verdana;
		font-size: 10px;
		color: #555555;
		font-weight: bold;
		text-decoration:none;
	}
	a.ob_gALF:hover /*a.ob_gridActionLinkFooter:hover*/
	{
		font-family: Verdana;
		font-size: 10px;
		color: #555555;
		font-weight: bold;				
		text-decoration: underline;		
	}
	.ob_gA_FS /*.ob_gridAdd_FilterSpacer*/
	{
		width: 30px;
		text-align: center;
	}
	.ob_gFRP /*ob_gridFooterRecordsPages*/
	{		
	}
	.ob_gNL /*.ob_gridNavigationLink*/
	{
		font-family: Verdana;
		font-size: 10px;
		color:#555555;
		font-weight: bold;
		text-decoration:underline;
		cursor: pointer;
		padding-left: 2px;
		padding-right: 2px;
	}
	.ob_gNS /*.ob_gridNavigationSeparator*/
	{
		font-family: Verdana;
		font-size: 10px;
		color:#555555;
		font-weight: normal;
		text-decoration:none;
		cursor: default;
		padding-left: 2px;
		padding-right: 2px;
	}
	.ob_gNT /*.ob_gridNavigationText*/
	{
		font-family: Verdana;
		font-size: 10px;
		color:#555555;
		font-weight: normal;		
		cursor: default;
		padding-left: 2px;
		padding-right: 2px;
	}
	.ob_gNI /*.ob_gridNavigationImage*/
	{
		vertical-align: middle;
		padding-left: 8px;
		padding-right: 8px;
		cursor: pointer;
	}
	.ob_gHFC /*.ob_gridHeaderFilterCell*/
	{
		background-color: #D2D6DB;
		font-family: Verdana;
		font-size: 10px;
		margin: 0px;				
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		border-top: 1px solid #7BB8D9;
		border-left: 1px solid #7BB8D9;	
		color: #FFFFFF;	
		background-image: none;	
	}
	.ob_gHFC div
	{
		padding-right: 2px;
		padding-left: 1px;
	}
	.ob_gHFC div table td
	{
		padding-top: 1px;
		padding-bottom: 1px;
	}
	.ob_gFCB /*.ob_gridFilterCriteriasButton*/
	{
		cursor: pointer;
		vertical-align: middle;
		width: 11px;
		text-align: right;
	}
	.ob_gFCB img
	{
		cursor: pointer;
	}
	.ob_gFCC /*.ob_gridFilterCriteriasContainer*/
	{
		padding: 0px;
		font-family: Verdana;
		font-size: 10px;
		color: #555555;
		background-color: #F6F6F6;
		width: 150px;
		border: 1px solid #555555;
		position: absolute;
		cursor: pointer;
		vertical-align: middle;
	}
	.ob_gFCC div
	{
		width: 149px;
	}
	.ob_gFC_N /*.ob_gridFilterCriteria_Normal*/
	{
		background-color: #F6F6F6;
	}
	.ob_gFC_H /*.ob_gridFilterCriteria_Highlighted*/
	{
		background-color: #DCDFE2;
	}
	.ob_gFCT /*ob_gridFilterControlTextbox*/
	{
		padding: 0px;
		font-family: Verdana;
		font-size: 10px;
		color: #555555;			
		background-color: #FFFFFF;
		width: 100%;
		border: 1px solid #555555;
		height: 14px;
		cursor: pointer;		
	}
	.ob_gFDiv
	{
		overflow: hidden;
		padding: 0px;
		margin: 0px;
	}
	.ob_gEwO /*.ob_gridElementWithOverflow*/
	{
		overflow: hidden;
	}
	.ob_gDFSC /*.ob_gridDummyFilterScrollingColumn*/
	{
		background-color: #D2D6DB;
	}
	.ob_gDFSC div
	{
		font-size: 1px;
		width: 0px;
	}
	.ob_gTNOP /*.ob_gridTotalNumberOfPages*/
	{
		padding-left: 3px;
		padding-right: 3px;
	}
	.ob_gMPS /*.ob_gridManualPagingSection*/
	{
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.ob_gMPS table td /*.ob_gridManualPagingSection table td*/
	{
		padding-left: 5px;
	}
	
	.ob_gMPS table td input /*.ob_gridManualPagingSection table td input*/
	{
		width: 20px;
	}
/*Complaint Grid Style Ends Here*/